@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
@import url(/wp-content/themes/weblider/node_modules/bootstrap/dist/css/bootstrap.css);
@import url(/wp-content/themes/weblider/node_modules/@fortawesome/fontawesome-free/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url(fonts.css);
body {
  font-family: "Poppins" !important;
  color: #6b6f92;
  overflow-x: hidden; }

h2 {
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.alt-title {
  font-family: "Audiowide", cursive; }

a:hover {
  color: #f5b458; }

button,
a {
  transition: all 0.3s ease-out 0s; }

a,
a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #313450; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 45px; }

@media (max-width: 767px) {
  h1 {
    font-size: 36px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 40px; } }

h2 {
  font-size: 36px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px; }

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.error {
  color: orangered; }

.success {
  color: #fff; }

.scroll-top {
  width: 45px;
  height: 45px;
  background: #f5b458;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease-out 0s; }

.scroll-top:hover {
  color: #fff;
  background: rgba(245, 180, 88, 0.8); }

@keyframes animation1 {
  0% {
    transform: translateY(30px); }
  50% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(30px); } }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-55 {
  margin-top: 55px; }

.mt-60 {
  margin-top: 60px; }

.mt-65 {
  margin-top: 65px; }

.mt-70 {
  margin-top: 70px; }

.mt-75 {
  margin-top: 75px; }

.mt-80 {
  margin-top: 80px; }

.mt-85 {
  margin-top: 85px; }

.mt-90 {
  margin-top: 90px; }

.mt-95 {
  margin-top: 95px; }

.mt-100 {
  margin-top: 100px; }

.mt-105 {
  margin-top: 105px; }

.mt-110 {
  margin-top: 110px; }

.mt-115 {
  margin-top: 115px; }

.mt-120 {
  margin-top: 120px; }

.mt-125 {
  margin-top: 125px; }

.mt-130 {
  margin-top: 130px; }

.mt-135 {
  margin-top: 135px; }

.mt-140 {
  margin-top: 140px; }

.mt-145 {
  margin-top: 145px; }

.mt-150 {
  margin-top: 150px; }

.mt-155 {
  margin-top: 155px; }

.mt-160 {
  margin-top: 160px; }

.mt-165 {
  margin-top: 165px; }

.mt-170 {
  margin-top: 170px; }

.mt-175 {
  margin-top: 175px; }

.mt-180 {
  margin-top: 180px; }

.mt-185 {
  margin-top: 185px; }

.mt-190 {
  margin-top: 190px; }

.mt-195 {
  margin-top: 195px; }

.mt-200 {
  margin-top: 200px; }

.mt-205 {
  margin-top: 205px; }

.mt-210 {
  margin-top: 210px; }

.mt-215 {
  margin-top: 215px; }

.mt-220 {
  margin-top: 220px; }

.mt-225 {
  margin-top: 225px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-65 {
  margin-bottom: 65px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-75 {
  margin-bottom: 75px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-85 {
  margin-bottom: 85px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-95 {
  margin-bottom: 95px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-105 {
  margin-bottom: 105px; }

.mb-110 {
  margin-bottom: 110px; }

.mb-115 {
  margin-bottom: 115px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-125 {
  margin-bottom: 125px; }

.mb-130 {
  margin-bottom: 130px; }

.mb-135 {
  margin-bottom: 135px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-145 {
  margin-bottom: 145px; }

.mb-150 {
  margin-bottom: 150px; }

.mb-155 {
  margin-bottom: 155px; }

.mb-160 {
  margin-bottom: 160px; }

.mb-165 {
  margin-bottom: 165px; }

.mb-170 {
  margin-bottom: 170px; }

.mb-175 {
  margin-bottom: 175px; }

.mb-180 {
  margin-bottom: 180px; }

.mb-185 {
  margin-bottom: 185px; }

.mb-190 {
  margin-bottom: 190px; }

.mb-195 {
  margin-bottom: 195px; }

.mb-200 {
  margin-bottom: 200px; }

.mb-205 {
  margin-bottom: 205px; }

.mb-210 {
  margin-bottom: 210px; }

.mb-215 {
  margin-bottom: 215px; }

.mb-220 {
  margin-bottom: 220px; }

.mb-225 {
  margin-bottom: 225px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-35 {
  padding-top: 35px; }

.pt-40 {
  padding-top: 40px; }

.pt-45 {
  padding-top: 45px; }

.pt-50 {
  padding-top: 50px; }

.pt-55 {
  padding-top: 55px; }

.pt-60 {
  padding-top: 60px; }

.pt-65 {
  padding-top: 65px; }

.pt-70 {
  padding-top: 70px; }

.pt-75 {
  padding-top: 75px; }

.pt-80 {
  padding-top: 80px; }

.pt-85 {
  padding-top: 85px; }

.pt-90 {
  padding-top: 90px; }

.pt-95 {
  padding-top: 95px; }

.pt-100 {
  padding-top: 100px; }

.pt-105 {
  padding-top: 105px; }

.pt-110 {
  padding-top: 110px; }

.pt-115 {
  padding-top: 115px; }

.pt-120 {
  padding-top: 120px; }

.pt-125 {
  padding-top: 125px; }

.pt-130 {
  padding-top: 130px; }

.pt-135 {
  padding-top: 135px; }

.pt-140 {
  padding-top: 140px; }

.pt-145 {
  padding-top: 145px; }

.pt-150 {
  padding-top: 150px; }

.pt-155 {
  padding-top: 155px; }

.pt-160 {
  padding-top: 160px; }

.pt-165 {
  padding-top: 165px; }

.pt-170 {
  padding-top: 170px; }

.pt-175 {
  padding-top: 175px; }

.pt-180 {
  padding-top: 180px; }

.pt-185 {
  padding-top: 185px; }

.pt-190 {
  padding-top: 190px; }

.pt-195 {
  padding-top: 195px; }

.pt-200 {
  padding-top: 200px; }

.pt-205 {
  padding-top: 205px; }

.pt-210 {
  padding-top: 210px; }

.pt-215 {
  padding-top: 215px; }

.pt-220 {
  padding-top: 220px; }

.pt-225 {
  padding-top: 225px; }

.pb-5 {
  padding-bottom: 5px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-35 {
  padding-bottom: 35px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-45 {
  padding-bottom: 45px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-55 {
  padding-bottom: 55px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-65 {
  padding-bottom: 65px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-75 {
  padding-bottom: 75px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-85 {
  padding-bottom: 85px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-95 {
  padding-bottom: 95px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-105 {
  padding-bottom: 105px; }

.pb-110 {
  padding-bottom: 110px; }

.pb-115 {
  padding-bottom: 115px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-125 {
  padding-bottom: 125px; }

.pb-130 {
  padding-bottom: 130px; }

.pb-135 {
  padding-bottom: 135px; }

.pb-140 {
  padding-bottom: 140px; }

.pb-145 {
  padding-bottom: 145px; }

.pb-150 {
  padding-bottom: 150px; }

.pb-155 {
  padding-bottom: 155px; }

.pb-160 {
  padding-bottom: 160px; }

.pb-165 {
  padding-bottom: 165px; }

.pb-170 {
  padding-bottom: 170px; }

.pb-175 {
  padding-bottom: 175px; }

.pb-180 {
  padding-bottom: 180px; }

.pb-185 {
  padding-bottom: 185px; }

.pb-190 {
  padding-bottom: 190px; }

.pb-195 {
  padding-bottom: 195px; }

.pb-200 {
  padding-bottom: 200px; }

.pb-205 {
  padding-bottom: 205px; }

.pb-210 {
  padding-bottom: 210px; }

.pb-215 {
  padding-bottom: 215px; }

.pb-220 {
  padding-bottom: 220px; }

.pb-225 {
  padding-bottom: 225px; }

/** Bootstrap navbar fix (https://git.io/fADqW) */
html {
  overflow-x: hidden; }

#map {
  width: 100%;
  height: 650px; }

#contact {
  margin-top: -4rem !important; }

.contact-title {
  color: #ffffff; }

.footer {
  background: #f2f2f2;
  border-top: 10px solid #51aa74;
  padding-top: 55px; }
  .footer .widget-wrapper .footer-widget {
    margin-bottom: 45px;
    padding: 25px;
    padding-left: 0 !important; }
    @media (max-width: 997px) {
      .footer .widget-wrapper .footer-widget {
        padding: 4px; } }
    .footer .widget-wrapper .footer-widget .links {
      flex-direction: column; }
      .footer .widget-wrapper .footer-widget .links li a {
        color: #126b94; }
    .footer .widget-wrapper .footer-widget h3 {
      margin-bottom: 35px;
      color: #000000;
      margin-top: 10px; }
    .footer .widget-wrapper .footer-widget p {
      font-size: 16px;
      line-height: 27px;
      color: #000000; }
    .footer .widget-wrapper .footer-widget .logo {
      margin-bottom: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 997px) {
        .footer .widget-wrapper .footer-widget .logo {
          justify-content: center; } }
      .footer .widget-wrapper .footer-widget .logo a {
        display: inline-block; }
  .footer .widget-wrapper .socials {
    display: flex;
    align-items: center; }
    .footer .widget-wrapper .socials li a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 1px solid #6b6f92;
      color: #126b94;
      margin-right: 20px; }
    .footer .widget-wrapper .socials li a:hover {
      color: #126b94;
      background: #f5b458;
      border-color: #f5b458; }
  .footer .widget-wrapper .links li {
    font-size: 16px;
    line-height: 35px;
    color: #000000;
    display: inline;
    white-space: nowrap;
    color: black; }
    .footer .widget-wrapper .links li li a:hover {
      color: #f5b458; }

.copy-right {
  padding: 15px 0;
  font-weight: 400; }
  .copy-right .company-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .copy-right .company-logos .company-logo img {
      width: 200px;
      height: auto; }
      @media (max-width: 768px) {
        .copy-right .company-logos .company-logo img {
          width: 125px; } }
      @media (max-width: 468px) {
        .copy-right .company-logos .company-logo img {
          width: 100px; } }
  .copy-right p {
    color: #000000;
    font-size: 16px;
    font-weight: 300; }
    .copy-right p a {
      color: #000000; }
    .copy-right p a:hover {
      color: #000000; }
  .copy-right .bottom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; }
    @media (min-width: 997px) {
      .copy-right .bottom-footer {
        justify-content: space-between;
        align-items: center;
        flex-direction: row; } }
    .copy-right .bottom-footer .weblider-logo {
      max-width: 100px; }
      @media (min-width: 768px) {
        .copy-right .bottom-footer .weblider-logo {
          max-width: 110px; } }
    .copy-right .bottom-footer .social-container .social-icon {
      height: 38px;
      width: auto;
      margin: 7px; }

.contact-section {
  position: relative;
  background: #126b94;
  background-image: url(/wp-content/themes/weblider/images/mapa.png);
  background-repeat: no-repeat;
  background-position: center center; }
  .contact-section .col-lg-5 {
    display: flex;
    align-items: flex-end;
    color: #ffffff; }
    .contact-section .col-lg-5 h3 {
      color: #ffffff; }
    .contact-section .col-lg-5 p {
      color: #ffffff; }
  .contact-section .submit-btn {
    display: flex;
    justify-content: flex-end; }
    .contact-section .submit-btn .btn-sumbit {
      border-color: white; }
    .contact-section .submit-btn .btn-sumbit:hover {
      background: white;
      color: black;
      border-color: #51AA74FF; }
    @media (max-width: 768px) {
      .contact-section .submit-btn {
        width: 100%; }
        .contact-section .submit-btn button {
          width: 100%; } }
    .contact-section .submit-btn button {
      box-shadow: 0px 3px 6px #0000004d;
      border-radius: 15px;
      background-color: #51aa7d;
      color: white; }
  .contact-section .single-form {
    padding: 5px; }
  .contact-section label {
    color: #000000; }
  .contact-section .col-lg-5 {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px; }
  .contact-title {
    text-align: center; } }

.contact-section .contact-wrapper .contact-form .single-form {
  margin-bottom: 5px; }

.contact-section .contact-wrapper .contact-form .single-form .form-input {
  width: 100%;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 45px rgba(181, 181, 181, 0.16);
  padding: 18px 30px;
  line-height: 1;
  color: #126b94;
  border: 1px solid transparent;
  transition: all 0.3s ease-out 0s; }

.contact-section .contact-wrapper .contact-form .single-form .form-input:focus {
  border-color: #f5b458; }

.contact-section .contact-wrapper .contact-form .submit-btn .main-btn {
  padding: 18px 72px; }

.contact-section .contact-img {
  position: absolute;
  width: 40%;
  right: 0;
  top: 0;
  height: 100%; }

.created-container {
  order: 1; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-img {
    display: none; }
  #map {
    height: 500px; } }

@media (max-width: 767px) {
  .contact-section .contact-img {
    display: none; }
  #map {
    height: 300px; } }

.contact-section .contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

@media (max-width: 768px) and (orientation: portrait) {
  .contact-section .col-lg-5 {
    flex-direction: row;
    justify-content: space-around; }
    .contact-section .col-lg-5 img {
      width: 50%; }
    .contact-section .col-lg-5 h3 {
      font-size: 20px; } }

@media (max-width: 926px) and (orientation: landscape) {
  .contact-section .col-lg-5 {
    flex-direction: row;
    justify-content: space-between; }
    .contact-section .col-lg-5 img {
      width: 50%; }
    .contact-section .col-lg-5 h3 {
      font-size: 20px; } }

#news .news-heading {
  color: #51aa74;
  margin-top: 4rem; }

#news .news-content {
  background-color: #51aa74; }
  @media (max-width: 568px) {
    #news .news-content .news-body-img {
      text-align: center; } }
  #news .news-content .news-body-img .news-image {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-size: cover; }
  #news .news-content .news-body-text .news-title {
    font-size: 22px; }
  #news .news-content .news-body-text .news-text {
    font-size: 15px; }
  #news .news-content .news-body {
    margin: 2rem 0 0 0; }

#news .btn-all {
  -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  padding: 10px 20px;
  max-width: 250px;
  margin: 0 auto; }

@media (max-width: 767px) {
  #news .news-content .news-body {
    margin: 0rem 0; }
  #news .news-content .news-body-text {
    padding: 10px 22px !important; }
    #news .news-content .news-body-text .news-title {
      font-size: 22px; }
    #news .news-content .news-body-text .news-text {
      font-size: 14px;
      line-height: 25px; }
  #news .news-heading {
    text-align: center;
    font-size: 36px; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section, #contact {
  scroll-margin-top: 90px; }

html {
  position: relative;
  scroll-behavior: smooth; }

.greenhov:hover {
  color: #51aa74; }

.HeaderWrapper {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3); }
  .HeaderWrapper__Hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: 15px;
    width: 100%;
    height: 20px;
    z-index: 16; }
    .HeaderWrapper__Hamburger .fa-bars {
      font-size: 2em;
      color: #000000;
      transition: 0.6s; }
    .HeaderWrapper__Hamburger .fa-times {
      font-size: 2rem;
      color: #000000;
      transition: 0.6s; }
  .HeaderWrapper__LogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px; }
  .HeaderWrapper__Logo {
    width: 85px;
    height: auto; }
  .HeaderWrapper__FlexContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    order: -1; }
  .HeaderWrapper .HeaderWrapper__FlexContainer .HeaderWrapper__InputContainer {
    display: none; }
  .HeaderWrapper__InputContainer {
    position: relative;
    width: 110px;
    height: 30px;
    outline: none; }
    .HeaderWrapper__InputContainer input {
      position: absolute;
      top: 0;
      left: 0;
      outline: none;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.7rem;
      border-radius: 12px; }
      .HeaderWrapper__InputContainer input::placeholder {
        padding-left: 20px; }
    .HeaderWrapper__InputContainer img {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%); }
  .HeaderWrapper__IconFirst {
    width: 40px;
    height: auto; }
  .HeaderWrapper__Navbar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    background-color: #51aa74;
    transition: 0.4s ease-out;
    z-index: 15;
    opacity: 0; }
    .HeaderWrapper__Navbar .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 100%;
      height: 100%;
      padding-left: 0px; }
      .HeaderWrapper__Navbar .menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        transition: 0.2s; }
        .HeaderWrapper__Navbar .menu li .menu-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          padding: 0 1rem;
          white-space: nowrap; }

.active {
  opacity: 1;
  transform: translateX(0);
  touch-action: none; }

.show {
  display: none; }

@media (min-width: 997px) {
  .dropdown {
    order: 1 !important; }
  .HeaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 10; }
    .HeaderWrapper__Hamburger {
      display: none; }
    .HeaderWrapper__LogoWrapper {
      padding-right: 0px;
      margin: 0 auto; }
      .HeaderWrapper__LogoWrapper .HeaderWrapper__Logo {
        height: auto;
        width: 69%; }
    .HeaderWrapper__FlexContainer {
      height: 100%;
      width: 150px;
      order: 0;
      justify-content: space-evenly; }
    .HeaderWrapper__InputContainer {
      width: 146px;
      order: 1;
      display: flex; }
      .HeaderWrapper__InputContainer input {
        position: relative;
        font-size: 0.7rem;
        width: 150px;
        padding-right: 0px;
        padding-left: 0px; }
        .HeaderWrapper__InputContainer input::placeholder {
          font-size: 0.8rem; }
      .HeaderWrapper__InputContainer img {
        right: 0;
        justify-self: flex-end; }
    .HeaderWrapper__Navbar {
      position: static;
      top: 0;
      left: 45%;
      height: 90px !important;
      transform: translateX(0%);
      opacity: 1;
      height: 70px;
      background-color: #fff;
      width: 100%;
      justify-content: center; }
      .HeaderWrapper__Navbar .menu {
        flex-direction: row; }
        .HeaderWrapper__Navbar .menu li {
          height: 100%; }
          .HeaderWrapper__Navbar .menu li .menu-item {
            font-size: 1rem;
            text-align: center; }
            .HeaderWrapper__Navbar .menu li .menu-item:hover {
              background-color: #51aa74;
              color: white; } }

.dropdown {
  position: relative;
  order: -1;
  display: inline-block; }

.show-languages {
  display: flex !important; }

.dropbtn {
  border: none;
  outline: 0;
  background-image: url("/wp-content/themes/weblider/images/ikona1.PNG");
  width: 60px;
  height: 50px;
  image-rendering: -webkit-optimize-contrast; }

.dropdown-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  left: 10px;
  top: 50px;
  background-color: white;
  min-height: 60px;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1; }
  .dropdown-content .flag-poland {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    .dropdown-content .flag-poland a {
      color: #51aa7d; }
  .dropdown-content .flag-english {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    .dropdown-content .flag-english a {
      color: #51aa7d; }
  .dropdown-content img {
    width: 30px;
    height: auto; }

.fix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90px; }
  @media (max-width: 997px) {
    .fix {
      height: 60px; } }

.HeaderWrapper__InputContainer {
  margin: 0px 20px; }

.active .HeaderWrapper__InputContainer {
  height: 60px;
  width: 180px; }
  .active .HeaderWrapper__InputContainer input {
    font-size: 20px !important; }

@media (max-width: 997px) {
  .dropdown {
    justify-content: flex-start; }
  .HeaderWrapper__Hamburger {
    justify-content: flex-end; }
    .HeaderWrapper__Hamburger .fa-bars {
      color: #126b94; } }

#publications {
  margin-top: 10rem; }

.publications-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #51aa74; }
  .publications-content .publications-title {
    text-align: center;
    margin-top: 4rem;
    color: #51aa74; }
    @media (max-width: 767px) {
      .publications-content .publications-title {
        font-size: 36px; } }
  .publications-content .flickity-viewport {
    height: 850px; }
    .publications-content .flickity-viewport .carousel-container {
      display: flex;
      flex-direction: column; }
      .publications-content .flickity-viewport .carousel-container .publications-image-container {
        display: flex;
        justify-content: center;
        align-items: center; }
        .publications-content .flickity-viewport .carousel-container .publications-image-container .publications-image {
          border-radius: 50%;
          width: 340px;
          height: 340px;
          object-fit: cover; }
  .publications-content .publications-text-container {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    .publications-content .publications-text-container .btn-more {
      -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
      box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53); }
    .publications-content .publications-text-container .publications-header .publications-subtitle {
      font-size: 18px;
      text-transform: uppercase;
      color: #ffffff; }
    .publications-content .publications-text-container .publications-authors {
      font-size: 16px;
      margin-top: 10px;
      font-weight: 200;
      font-style: italic;
      color: #ffffff; }
    .publications-content .publications-text-container .publications-block-text {
      font-size: 14px;
      text-align: left;
      font-weight: 300;
      margin-top: 40px;
      line-height: 2;
      margin: 15px 0;
      color: #ffffff; }

.btn-all {
  -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  padding: 10px 20px;
  max-width: 250px;
  margin: 0 auto; }

.publications-title {
  text-align: center;
  margin-top: 4rem;
  color: #51aa74; }

.flickity-page-dots {
  left: 0px; }

@media (min-width: 767px) {
  #publications .publications-subtitle {
    text-align: left; }
  #publications .publications-title {
    color: #51aa74;
    text-align: left !important;
    margin-top: 6rem !important; }
  #publications .publications-text-container {
    align-items: flex-start !important;
    width: 45%;
    position: relative; }
    #publications .publications-text-container .btn-more {
      position: absolute;
      bottom: 0px; }
  #publications .flickity-viewport {
    height: 400px; }
    #publications .flickity-viewport .carousel-container {
      flex-direction: row !important; } }

.flickity-prev-next-button.previous {
  left: -50px !important; }

.flickity-prev-next-button.next {
  right: -50px !important; }

#content .row {
  align-content: center;
  align-items: center;
  margin: 0 auto;
  justify-content: center; }
  #content .row .col-md-5 {
    flex: 0 0 100px; }
  #content .row .main-img {
    border-radius: 50%;
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    padding: 45px;
    display: inline-block; }
    @media (max-width: 1200px) {
      #content .row .main-img {
        height: 400px;
        width: 400px; } }
    @media (max-width: 1000px) {
      #content .row .main-img {
        height: 350px;
        width: 350px; } }
    @media (max-width: 400px) {
      #content .row .main-img {
        height: 290px;
        width: 290px; } }
    #content .row .main-img img {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      width: 85%;
      z-index: 9; }
  #content .row .col-lg-7,
  #content .row .col-lg-5 {
    display: flex; }
  #content .row p {
    padding: 25px;
    margin: 0 auto;
    font-size: 16px;
    color: black; }
    @media (max-width: 768px) {
      #content .row p {
        padding: 15px; } }

#content #line,
#content #line2,
#content #line3,
#content #line4 {
  position: absolute;
  width: 1px;
  background-color: #51aa74; }
  @media (max-width: 992px) {
    #content #line,
    #content #line2,
    #content #line3,
    #content #line4 {
      display: none; } }

#bottom-hero {
  background-color: #51aa7d; }
  #bottom-hero .bottom-heading-text {
    color: white;
    font-size: 35px;
    line-height: 1.1; }
  #bottom-hero .col-lg-7 {
    padding: 25px; }
    #bottom-hero .col-lg-7 h2 {
      color: white; }

#upper-hero .heading {
  position: absolute;
  bottom: 30%;
  left: 0px;
  width: 100%;
  color: #ffffff;
  font-size: 3rem; }

#upper-hero #hero-video {
  width: 100%; }

#upper-hero .content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

@media (max-width: 1024px) {
  #upper-hero .heading {
    font-size: 2rem; } }

@media (max-width: 767px) {
  .TeamWrapper__TeamTitle {
    text-align: center; } }

.TeamWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh; }
  .TeamWrapper__TeamTitle {
    width: 100%;
    color: #126b94;
    padding-top: 25px; }
  .TeamWrapper__Slider {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative; }
    .TeamWrapper__Slider .background-image {
      visibility: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: 115%;
      background-position: center center;
      z-index: -1; }
    .TeamWrapper__Slider .main-carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .TeamWrapper__Slider .main-carousel .col-12 .d-flex .col-md-6 .col-lg-6 .col-xl-3 {
        display: flex;
        justify-content: center;
        align-items: center; }
      .TeamWrapper__Slider .main-carousel img {
        width: 60%;
        height: auto; }
      .TeamWrapper__Slider .main-carousel .team-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .TeamWrapper__Slider .main-carousel .team-link .team-position {
          color: #51aa74;
          text-align: center; }
          .TeamWrapper__Slider .main-carousel .team-link .team-position:hover {
            color: #51aa74; }
        .TeamWrapper__Slider .main-carousel .team-link .team-name {
          color: #126b94;
          text-align: center; }
      .TeamWrapper__Slider .main-carousel .flickity-viewport {
        background-image: url("/wp-content/themes/weblider/images/team.png");
        height: 100% !important;
        background-position: center 42%;
        background-size: 100%;
        background-repeat: no-repeat; }
        .TeamWrapper__Slider .main-carousel .flickity-viewport .flickity-slider {
          display: flex;
          justify-content: center;
          align-items: center; }
    .TeamWrapper__Slider .flickity-prev-next-button.previous,
    .TeamWrapper__Slider .flickity-prev-next-button.next {
      background-color: transparent; }

@keyframes rotating {
  0% {
    transform-origin: center;
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media (min-width: 1024px) and (orientation: portrait) {
  .TeamWrapper .main-carousel img {
    width: 65%; } }

@media (min-width: 568px) and (orientation: landscape) {
  .TeamWrapper__Slider .background-image {
    background-size: 40%; }
  .TeamWrapper .main-carousel img {
    width: 20%; } }

@media (min-width: 720px) and (orientation: landscape) {
  .TeamWrapper__Slider .background-image {
    background-size: 36%; }
  .TeamWrapper .main-carousel img {
    width: 18%; } }

@media (min-width: 1024px) and (orientation: landscape) {
  .TeamWrapper__Slider .background-image {
    background-size: 73%;
    visibility: visible; }
  .TeamWrapper .main-carousel .flickity-viewport {
    background-image: none !important; }
    .TeamWrapper .main-carousel .flickity-viewport img {
      width: 200px;
      height: 200px; } }

@media (min-width: 1366px) and (orientation: landscape) {
  .TeamWrapper .main-carousel img {
    width: 80%; } }

@media (min-width: 1490px) and (orientation: landscape) {
  .TeamWrapper__Slider .main-carousel {
    top: 50px !important; }
  .TeamWrapper__Slider .background-image {
    background-size: 80%; }
  .TeamWrapper .main-carousel img {
    width: 85%; } }

.btn-all-alt {
  color: #fff;
  -webkit-box-shadow: 0px 5px 16px -7px white;
  box-shadow: 0px 5px 16px -7px white;
  padding: 10px 20px;
  max-width: 250px;
  margin: 0 auto;
  background-color: #51aa74; }

.btn-all-alt:hover {
  background-color: #51aa74;
  color: #fff; }

.btntest {
  background-color: #51aa74;
  color: #ffffff;
  -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  padding: 10px 20px; }
  .btntest:hover {
    background-color: white;
    border-color: #51aa74 !important; }

.test-card {
  transition-duration: 0.75s;
  border-radius: 1rem; }
  .test-card:hover {
    transform: scale(1.05);
    transition-duration: 0.75s; }

.main-card {
  border-radius: 1rem; }
  .main-card .testanim::before {
    content: "";
    width: 10px;
    height: 3px;
    position: absolute;
    background-color: #51aa74;
    bottom: 0;
    left: 0;
    transition-duration: 0.75s;
    transform-origin: top left; }
  .main-card:hover .testanim::before {
    transform: scale(27, 1);
    transition-duration: 0.75s;
    transform-origin: top left; }

.picturemobile {
  height: 300px;
  border-radius: 1rem;
  background-size: cover; }

.firstpicture {
  border-radius: 1rem;
  height: 550px;
  background-size: cover; }

@media (min-width: 1024px) {
  .padding-right-desktop {
    padding-right: 3rem; }
  .padding-left-desktop {
    padding-right: 3rem; } }

.bg-grey {
  background-color: #f2f2f2 !important; }

.tlo {
  background-color: #f2f2f2;
  height: 350px; }
  .tlo .tlo-img1 {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    right: 0;
    bottom: 10px; }

.new-page-title {
  bottom: 0;
  font-size: 4rem;
  font-weight: 300;
  color: gray; }

.container-new-page-title {
  padding: 0 0;
  margin-left: 0;
  margin-right: 0; }

@media (max-width: 568px) {
  .tlo {
    height: 100px; }
  .picturemobile {
    height: 250px; }
  .firstpicture {
    height: 250px; }
  .new-page-title {
    text-align: center;
    font-size: 2rem; }
  .container-new-page-title {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (min-width: 569px) and (max-width: 1024px) {
  .tlo {
    height: 190px; }
  .picturemobile {
    height: 300px; }
  .firstpicture {
    height: 300px; }
  .new-page-title {
    font-size: 3rem; }
  .container-new-page-title {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (max-width: 991px) {
  .tlo-img1 {
    display: none !important; } }

.paginacja li {
  display: inline-block;
  font-weight: 400;
  margin: 15px 5px 5px 5px; }
  .paginacja li a {
    color: gray;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    cursor: pointer !important; }
  .paginacja li a:hover {
    cursor: pointer !important; }

.paginacja .active {
  background: #51aa7d;
  color: #fff;
  border: 1px solid transparent; }

.moretext {
  display: block;
  font-size: 1rem; }
