#bottom-hero {
  background-color: #51aa7d;
  .bottom-heading-text {
    color: white;
    font-size: 35px;
    line-height: 1.1;
  }
  .col-lg-7 {
    padding: 25px;
    h2 {
      color: white;
    }
  }
}
