#content {
  .row {
    align-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    .col-md-5 {
      flex: 0 0 100px;
    }
    .main-img {
      border-radius: 50%;
      position: relative;
      width: 450px;
      height: 450px;
      margin: 0 auto;
      padding: 45px;
      display: inline-block;
      //background-color: $mainColor;
      @media (max-width: 1200px) {
        height: 400px;
        width: 400px;
      }
      @media (max-width: 1000px) {
        height: 350px;
        width: 350px;
      }
      @media (max-width: 400px) {
        height: 290px;
        width: 290px;
      }
      img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 85%;
        z-index: 9;
      }
    }
    .col-lg-7,
    .col-lg-5 {
      display: flex;
    }
    p {
      padding: 25px;
      margin: 0 auto;
      font-size: 16px;
      color: black;
      @media (max-width: 768px) {
        padding: 15px;
      }
    }
  }
  #line,
  #line2,
  #line3,
  #line4{
    position: absolute;
    width: 1px;
    background-color: $mainColor;
    @media (max-width: 992px) {
      display: none;
    }
  }
}
