#map {
  width: 100%;
  height: 650px;
}
#contact {
  margin-top: -4rem !important;
}
.contact-title {
  color: #ffffff;
}

.footer {
  background: $newgrey;
  border-top: 10px solid $mainColor;
  padding-top: 55px;
  .widget-wrapper {
    .footer-widget {
      margin-bottom: 45px;
      padding: 25px;
      padding-left: 0 !important;
      @media(max-width: 997px){
        padding: 4px;
      }
      .links {
        flex-direction: column;
        li {
          a {
            color: #126b94;
          }
        }
      }
      h3 {
        margin-bottom: 35px;
        color: $black;
        margin-top: 10px;
      }

      p {
        font-size: 16px;
        line-height: 27px;
        color: $black;
      }
      .logo {
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 997px){
          justify-content: center;
        }
          a {
            display: inline-block;
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;
        li a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: 1px solid #6b6f92;
          color: #126b94;
          margin-right: 20px;
        }

        li a:hover {
          color: #126b94;
          background: #f5b458;
          border-color: #f5b458;
        }
      }

      .links li {
        font-size: 16px;
        line-height: 35px;
        color: $black;
        display: inline;
        white-space: nowrap;
        color: black;
        li a:hover {
          color: #f5b458;
        }
      }
    }
  }
  .copy-right {
    padding: 15px 0;
    font-weight: 400;

    .company-logos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      .company-logo img {
        width: 200px;
        height: auto;

        @media (max-width: 768px) {
          width: 125px;
        }

        @media (max-width: 468px) {
          width: 100px;
        }
      }
    }

    p {
      color: $black;
      font-size: 16px;
      font-weight: 300;
      a {
        color: $black;
      }
      a:hover {
        color: $black;
      }
    }

    .bottom-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: 997px) {
        justify-content: space-between;
      align-items: center;
      flex-direction: row;
      }

      .weblider-logo {
        max-width: 100px;


      @media (min-width: 768px) {
        max-width: 110px;
      }
    }
      .social-container {
        .social-icon {
          height: 38px;
          width: auto;
          margin: 7px;
        }
      }
    }
  }

.contact-section {
  position: relative;
  background: $contactBlue;
  background-image: url(/wp-content/themes/weblider/images/mapa.png);
  background-repeat: no-repeat;
  background-position: center center;
  .col-lg-5 {
    display: flex;
    align-items: flex-end;
    color: $white;
    h3 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  .submit-btn {
    display: flex;
    justify-content: flex-end;
    .btn-sumbit{
      border-color:white;
    }
    .btn-sumbit:hover{
      background: white;
      color:black;
      border-color:#51AA74FF;
    }
    @media (max-width: 768px) {
      width: 100%;
      button {
        width: 100%;
      }
    }

    button {
      box-shadow: 0px 3px 6px #0000004d;
      border-radius: 15px;
      background-color: #51aa7d;
      color: white;
    }
  }
  .single-form {
    padding: 5px;
  }
  label {
    color: $black;
  }
  .col-lg-5 {
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px;
  }
  .contact-title {
    text-align: center;
  }
}

.contact-section .contact-wrapper .contact-form .single-form {
  margin-bottom: 5px;
}

.contact-section .contact-wrapper .contact-form .single-form .form-input {
  width: 100%;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 45px rgba(181, 181, 181, 0.16);
  padding: 18px 30px;
  line-height: 1;
  color: #126b94;
  border: 1px solid transparent;
  transition: all 0.3s ease-out 0s;
}

.contact-section .contact-wrapper .contact-form .single-form .form-input:focus {
  border-color: #f5b458;
}

.contact-section .contact-wrapper .contact-form .submit-btn .main-btn {
  padding: 18px 72px;
}

.contact-section .contact-img {
  position: absolute;
  width: 40%;
  right: 0;
  top: 0;
  height: 100%;
}

.created-container {
  order: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-img {
    display: none;
  }
  #map {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .contact-section .contact-img {
    display: none;
  }
  #map {
    height: 300px;
  }
}

.contact-section .contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) and (orientation: portrait) {
  .contact-section .col-lg-5 {
    flex-direction: row;
    justify-content: space-around;
    img {
      width: 50%;
    }
    h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .contact-section .col-lg-5 {
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 50%;
    }
    h3 {
      font-size: 20px;
    }
  }
}
