*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, #contact {
  scroll-margin-top: 90px;
}

html {
  position: relative;
  scroll-behavior: smooth;
}
.greenhov:hover{
  color:$mainColor;
}
.HeaderWrapper {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  &__Hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: 15px;
    width: 100%;
    height: 20px;
    z-index: 16;
    .fa-bars {
      font-size: 2em;
      color: $black;
      transition: 0.6s;
    }
    .fa-times {
      font-size: 2rem;
      color: $black;
      transition: 0.6s;
    }
  }
  &__LogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__Logo {
    width: 85px;
    height: auto;
  }
  &__FlexContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    order: -1;
  }
  .HeaderWrapper__FlexContainer .HeaderWrapper__InputContainer {
    display: none;
  }
  &__InputContainer {
    position: relative;
    width: 110px;
    height: 30px;
    outline:none;
    input {
      position: absolute;
      top: 0;
      left: 0;
      outline:none;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.7rem;
      border-radius: 12px;
      &::placeholder {
        padding-left: 20px;
      }
    }
    img {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
    }
  }
  &__IconFirst {
    width: 40px;
    height: auto;
  }
  &__Navbar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    background-color: $mainColor;
    transition: 0.4s ease-out;
    z-index: 15;
    opacity: 0;
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 100%;
      height: 100%;
      padding-left: 0px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        transition: 0.2s;
        .menu-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          padding: 0 1rem;
          white-space: nowrap;
        }
      }
    }
  }
}


.active {
  opacity: 1;
  transform: translateX(0);
  touch-action: none;
}

.show {
  display: none;
}

@media (min-width: 997px)  {
  .dropdown{
    order:1 !important;
  }
  .HeaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
    
    &__Hamburger {
      display: none;
    }
    &__LogoWrapper {
      // max-width: 1540px;
      padding-right: 0px;
      margin: 0 auto;
      .HeaderWrapper__Logo {
        height: auto;
        width: 69%;
      }
    }
    &__FlexContainer {
      height: 100%;
      width: 150px;
      order: 0;
      justify-content: space-evenly;
    }
    &__InputContainer {
      width: 146px;
      order: 1;
      display: flex;
      input {
        position: relative;
        font-size: 0.7rem;
        width: 150px;;
        padding-right: 0px;
        padding-left: 0px;
        &::placeholder {
          font-size: 0.8rem;
        }
      }
      img {
        right: 0;
        justify-self: flex-end;
      }
    }
    &__Navbar {
      position: static;
      top: 0;
      left: 45%;
      height: 90px !important;
      transform: translateX(0%);
      opacity: 1;
      height: 70px;
      background-color: #fff;
      width: 100%;
      justify-content: center;
      .menu {
        flex-direction: row;
        li {
          height: 100%;
          .menu-item {
            font-size: 1rem;
            text-align: center;
            &:hover {
              background-color: $mainColor;
              color: white;
            }
          }
        }
      }
    }

    
    
  }
}

.dropdown {
  position: relative;
  order: -1;
  display: inline-block;
}
.show-languages {
  display: flex !important;
}
.dropbtn {
  border: none;
  outline: 0;
  background-image: url("/wp-content/themes/weblider/images/ikona1.PNG");
  width: 60px;
  height: 50px;
  image-rendering: -webkit-optimize-contrast;
}
.dropdown-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  left: 10px;
  top: 50px;
  background-color: white;
  min-height: 60px;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  .flag-poland {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    a {
      color: #51aa7d;
    }
  }

  .flag-english {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    a {
      color: #51aa7d;
    }
  }
  img {
    width: 30px;
    height: auto;
  }
}

.fix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90px;
  @media(max-width:997px){
    height: 60px;
  }
}

.HeaderWrapper__InputContainer {
  margin: 0px 20px;
}

.active .HeaderWrapper__InputContainer {
  height: 60px;
  width: 180px;

  input {
    font-size: 20px !important;
  }
}

@media(max-width: 997px){
  .dropdown{
    justify-content: flex-start;
  }
  .HeaderWrapper__Hamburger{
    justify-content: flex-end;
    .fa-bars{

      color: $contactBlue;
    }
  }
}
