#news {
  .news-heading {
    color: $mainColor;
    margin-top: 4rem;
  }
  .news-content {
    background-color: $mainColor;
    .news-body-img {
      @media(max-width:568px){
        text-align: center;
      }
      .news-image {
        border-radius: 50%;
        width: 240px;
        height: 240px;
        background-size: cover;
      }
    }
    .news-body-text {
      .news-title {
        font-size: 22px;
      }
      .news-text {
        font-size: 15px;
      }
    }
    .news-body {
      margin: 2rem 0 0 0;
    }
  }
  .btn-all {
    -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
    padding: 10px 20px;
    max-width:250px;
    margin:0 auto;
  }
  @media (max-width: 767px) {
    .news-content {
      .news-body {
        margin: 0rem 0;
      }
      .news-body-text {
        padding: 10px 22px !important;
        .news-title {
          font-size: 22px;
        }
        .news-text {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
    .news-heading {
      text-align: center;
      font-size: 36px;
    }
  }
}


