.btntest {
  background-color: $mainColor;
  color: $white;
  -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
  padding: 10px 20px;
  &:hover {
    background-color: white;
    border-color: $mainColor !important;
  }
}
.test-card {
  transition-duration: 0.75s;
  border-radius: 1rem;
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.75s;
  }
}
.main-card {
  border-radius: 1rem;
  .testanim::before {
    content: "";
    width: 10px;
    height: 3px;
    position: absolute;
    background-color: $mainColor;
    bottom: 0;
    left: 0;
    transition-duration: 0.75s;
    transform-origin: top left;
  }
  &:hover {
    .testanim::before {
      transform: scale(27, 1);
      transition-duration: 0.75s;
      transform-origin: top left;
    }
  }
}
.picturemobile {
  height: 300px;
  border-radius: 1rem;
  background-size: cover;
}
.firstpicture {
  border-radius: 1rem;
  height: 550px;
  background-size: cover;
}
@media (min-width: 1024px) {
  .padding-right-desktop {
    padding-right: 3rem;
  }
  .padding-left-desktop {
    padding-right: 3rem;
  }
}

.bg-grey {
  background-color: $newgrey !important;
}
.tlo {
  background-color: $newgrey;
  height: 350px;
  .tlo-img1 {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    right: 0;
    bottom: 10px;
  }
}
.new-page-title {
  bottom: 0;
  font-size: 4rem;
  font-weight: 300;
  color: gray;
}
.container-new-page-title{
  padding: 0 0;
  margin-left:0;
  margin-right:0;
}
@media (max-width: 568px) {
  .tlo {
    height: 100px;
  }
  .picturemobile {
    height: 250px;
  }
  .firstpicture {
    height: 250px;
  }
  .new-page-title {
    text-align: center;
    font-size: 2rem;
  }
  .container-new-page-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 569px) and (max-width: 1024px) {
  .tlo {
    height: 190px;
  }
  .picturemobile {
    height: 300px;
  }
  .firstpicture {
    height: 300px;
  }
  .new-page-title {
    font-size: 3rem;
  }
  .container-new-page-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .tlo-img1 {
    display: none !important;
  }
}

.paginacja {
  li {
    display: inline-block;
    font-weight: 400;
    margin: 15px 5px 5px 5px;
    a {
      color: gray;
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      cursor: pointer !important;
    }
    a:hover {
      cursor: pointer !important;
    }
  }
  .active {
    background: #51aa7d;
    color: #fff;
    border: 1px solid transparent;
  }
}

.moretext {
  display: block;
  font-size: 1rem;
}
