#publications {
  margin-top: 10rem;
}
.publications-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: $mainColor;

  .publications-title {
    text-align: center;
    margin-top: 4rem;
    color: $mainColor;

    @media (max-width: 767px) {
      font-size: 36px;
    }
  }
  .flickity-viewport {
    height: 850px;

    .carousel-container {
      display: flex;
      flex-direction: column;

      .publications-image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .publications-image {
          border-radius: 50%;
          width: 340px;
          height: 340px;
          object-fit: cover;
        }
      }
    }
  }
  .publications-text-container {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    .btn-more {
      -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
        box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
    }

    .publications-header {
      .publications-subtitle {
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
      }
    }

    .publications-authors {
      font-size: 16px;
      margin-top: 10px;
      font-weight: 200;
      font-style: italic;
      //color: #d0cbcb;
      color: $white;
    }

    .publications-block-text {
      font-size: 14px;
      text-align: left;
      font-weight: 300;
      margin-top: 40px;
      line-height: 2;
      margin: 15px 0;
      color: $white;
    }
  }
}

.btn-all {
  -webkit-box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
        box-shadow: 0px 5px 16px -7px rgba(0, 0, 0, 0.53);
        padding: 10px 20px;
        max-width:250px;
         margin:0 auto; 
}

.publications-title {
  text-align: center;
  margin-top: 4rem;
  color: $mainColor;
}
.flickity-page-dots {
  left: 0px;
}
@media (min-width: 767px) {
  #publications {
    .publications-subtitle {
      text-align: left;
    }

    .publications-title {
      color: $mainColor;
      text-align: left !important;
      margin-top: 6rem !important;
    }

    .publications-text-container {
      align-items: flex-start !important;
      width: 45%;
      position: relative;

      .btn-more {
        position: absolute;
        bottom: 0px;
      }
    }

    .flickity-viewport {
      height: 400px;

      .carousel-container {
        flex-direction: row !important;
      }
    }
  }
}
.flickity-prev-next-button.previous {
  left: -50px !important;
}
.flickity-prev-next-button.next {
  right: -50px !important;
}
