@media (max-width: 767px) {
  .TeamWrapper__TeamTitle {
    text-align: center;
  }
}
.TeamWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  &__TeamTitle {
    width: 100%;
    color: $contactBlue;
    padding-top: 25px;
  }
  &__Slider {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    //margin: 100px 0;
    position: relative;
    .background-image {
      visibility: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: 115%;
      background-position: center center;
      z-index: -1;
    }
    .main-carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .col-12 .d-flex .col-md-6 .col-lg-6 .col-xl-3 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 60%;
        height: auto;
      }
      .team-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .team-position {
          color: $mainColor;
          text-align: center;

          &:hover {
            color: $mainColor;
          }
        }
        .team-name {
          color: $contactBlue;
          text-align: center;
        }
      }

      .flickity-viewport {
        background-image: url("/wp-content/themes/weblider/images/team.png");
        height: 100% !important;
        background-position: center 42%;
        background-size: 100%;
        background-repeat: no-repeat;
        .flickity-slider {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next {
      background-color: transparent;
    }
  }
}

@keyframes rotating {
  0% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .TeamWrapper {
    .main-carousel {
      img {
        width: 65%;
      }
    }
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .TeamWrapper {
    &__Slider {
      .background-image {
        background-size: 40%;
      }
    }
    .main-carousel {
      img {
        width: 20%;
      }
    }
  }
}

@media (min-width: 720px) and (orientation: landscape) {
  .TeamWrapper {
    &__Slider {
      .background-image {
        background-size: 36%;
      }
    }
    .main-carousel {
      img {
        width: 18%;
      }
    }
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .TeamWrapper {
    &__Slider {
      .background-image {
        background-size: 73%;
        visibility: visible;
      }
    }
    .main-carousel {
      .flickity-viewport {
        background-image: none !important;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .TeamWrapper {
    .main-carousel {
      img {
        width: 80%;
      }
    }
  }
}

@media (min-width: 1490px) and (orientation: landscape) {
  .TeamWrapper {
    &__Slider {
      .main-carousel {
        top: 50px !important;
      }
      .background-image {
        background-size: 80%;
      }
    }
    .main-carousel {
      img {
        width: 85%;
      }
    }
  }
}

.btn-all-alt {
  color: #fff;
  -webkit-box-shadow: 0px 5px 16px -7px rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 16px -7px rgba(255, 255, 255, 1);
        padding: 10px 20px;
        max-width:250px;
         margin:0 auto; 
         background-color: $mainColor;
}


.btn-all-alt:hover {
  background-color: $mainColor;

  color: #fff;
}
