#upper-hero{
  .heading{
    position: absolute;
    bottom:30%;
    left: 0px;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
  }
  #hero-video{
   width: 100%;
  }
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
@media (max-width:1024px){
  .heading{
    font-size:2rem;
  }
}
}
