@import "common/custom";
@import "/wp-content/themes/weblider/node_modules/bootstrap/dist/css/bootstrap.css";
@import "/wp-content/themes/weblider/node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import "fonts.css";
html {
  overflow-x: hidden;
}

@import "footer";

@import "news";
@import "header";
@import "publications";
@import "content";
@import "bottom-hero";
@import "upper_hero";
@import "team";
@import "page-list";
